* {
    font-family: 'Verdana' sans-serif;
}


/*Navbar stuff*/

.navbar-brand {
    font-weight: 700;
}

.navbar-right {
    font-weight: 700;
}


/*This is the guitar-hero div*/

#guitar-hero {
    background-image: url(../img/blackandwhiteguitar.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    color: #fff;
    position: relative;
    overflow: hidden;
    top: 20;
    padding-bottom: 25%;
    padding-top: 15%;
}

.btn-success {
    margin: 30px 10px;
    font-size: 18px;
}

.guitar-hero h1 {
    margin-top: 60px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

iframe {
    pointer-events: none;
}

.next-gig h2 h3 {
    padding-left: 20px;
}


/*This is the second container*/

#shows {
    height: 150px;
    margin: 0;
}

.red-shirt-photo {
    padding: 0;
}


/*#bio-highlights {
    font-size: 1.5em;
}*/

.table {
    font-size: 16px;
}


/*This is the section with images of CD covers*/

#recordings {
    background-color: white;
}

.respond {
    margin-top: 7px;
}

h5 {
    text-align: justify;
    line-height: 1.5;
}

.recordings btn-success {
    margin-top: 20px;
    font-size: 18px;
}

.recordings .next .btn-success {
    margin-top: 60px;
}

.recordings .bet .btn-success {
    margin-top: 60px;
}

h4 {
    line-height: 190%;
    padding-left: 25px;
}


/*This is the div with YouTube videos*/

#videos {
    background-color: #e8e8e8;
    padding-left: 15px;
}

#contact-info {
    background-color: #666;
    height: 400px;
    padding-top: 10px;
}

.btn-facebook {
    background-color: #3b5998;
    color: white;
    font-weight: 500;
}

.btn-twitter {
    background-color: #4099ff;
    color: white;
    font-weight: 500;
    margin-left: 10px;
}

.fa-twitter {
    margin: auto;
}