* {
    font-family: 'Verdana' sans-serif;
}


/*Navbar stuff*/

.navbar-brand {
    font-weight: 700;
}

.navbar-right {
    font-weight: 700;
}


/*This is the guitar-hero div*/

.guitar-hero {
    background-image: url(../img/blackandwhiteguitar.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    color: #fff;
    position: relative;
    overflow: hidden;
    top: 20;
    padding-bottom: 15%;
    padding-top: 15%
}

.btn-success {
    margin: 20px 10px;
    font-size: 18px;
}

.guitar-hero h1 {
    margin-top: 60px;
}

.overlay {
    background: transparent;
    position: relative;
    width: 640px;
    height: 450px;
    top: 450px;
    margin-top: -450px;
}


/*This is the second container*/

.second-container {
    height: 200px;
    margin: 0;
}

.red-shirt-photo {
    padding: 0;
}


/*This is the section with images of CD covers*/

.recordings {
    background-color: #e8e8e8;
}

.respond {
    margin-top: 7px;
}

h5 {
    text-align: justify;
    line-height: 1.5;
}

.recordings btn-success {
    margin-top: 20px;
    font-size: 18px;
}

.contact-info {
    background-color: #e8e8e8;
    height: 400px;
}

.btn-facebook {
    background-color: #3b5998;
    color: white;
    font-weight: 500;
}

.btn-twitter {
    background-color: #4099ff;
    color: white;
    font-weight: 500;
    margin-left: 10px;
}

.fa-twitter {
    margin: auto;
}

.contact-info {
    padding-top: 10px;
}

.hide_me {
    visibility: hidden;
}