nav {
    margin-top: 26px;
    float: right;
}

header img {
    float: left;
    width: 75px;
    height: 75px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.nav-button {
    width: 50px;
    height: 30px;
    background-color: brown;
    color: bisque;
    font-size: 1.25em;
    font-family: "Courier";
    text-decoration: none;
    margin-right: 3px;
    padding: 3px 5px;
    border-radius: 10px;
}

a:hover {
    background-color: bisque;
    color: brown;
    font-weight: 700;
}

h1 {
    float: left;
    font-family: "Courier";
    margin-left: 5em;
}

h2 {
    text-align: center;
    font-family: "Courier";
    font-size: 4em;
}

.big-important-title {
    clear: both;
    background-image: url('../HAAM-img/guitar-neck.jpg');
    padding: 250px 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}

p {
    font-family: sans-serif;
    font-size: 1.5em;
    color: black;
}

.div1 {
    margin: 20px;
    float: left;
}

.div1 img {
    float: left;
    width: 350px;
    height: 275px;
}

h3 {
    font-size: 3em;
    font-family: "Courier";
    margin-top: 10px;
}

.we-provide {
    float: right;
    width: 65%;
    height: auto;
    margin-left: 10px;
}

.fourcolumn {
    text-align: center;
    background-color: darkgray;
    width: 100%;
}

.fourcolumn p {
    font-size: 1em;
    text-align: justify;
}

.fourcolumn img {
    width: 160px;
    height: 130px;
}

.fourcolumn h4 {
    font-size: 2em;
    text-align: center;
    font-family: "Courier";
}

.div2 {
    float: left;
    margin-right: 12px;
    width: 24%;
    text-align: center;
}

.event-photos {
    float: left;
    height: auto;
}

.event-photos img {
    padding-right: 10px;
    padding-left: 20px;
    width: 600px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.event-photos p {
    text-align: center;
}

.lastcontainer {
    clear: both;
    background-image: url('../HAAM-img/GaryClark.jpeg');
    padding: 250px 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.lastcontainer p {
    color: beige;
}

.lastcontainerbutton {
    float: left;
    width: 200px;
    height: 80px;
    background-color: brown;
    color: bisque;
    font-size: 2em;
    font-family: "Courier";
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    margin-right: 120px;
    margin-left: 17px;
    border-radius: 10px;
}